/* ==========================================
   1. VARIABLES (facil configuración de colores)
   ========================================== */
:root {
  --bg-color: #553232;     /* Fondo oscuro */
  --text-color: #ffffff;   /* Texto principal */
  --accent-color: #b9a41d; /* Color dominante de la portada */
  --shadowcolor: #b9a41d;
}

/* ==========================================
   2. ESTILOS GLOBALES
   ========================================== */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

/* ==========================================
   3. VISTAS Y CONTENEDORES
   ========================================== */
.view {
  display: none;
  min-height: 100vh;
  background-color: var(--bg-color) !important;
}

.view.active {
  display: block !important;
}

/* ==========================================
   4. SECCIÓN DE LETRAS (LYRICS)
   ========================================== */
.lyrics-container {
  height: 60vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.lyrics-container::-webkit-scrollbar {
  display: none;
}

/* Letras inactivas (ya cantadas o por cantar) */
.lyric-line {
  padding: 15px 0;
  color: var(--accent-color);
  font-size: 1.25rem;
  cursor: pointer;
  transition: filter 0.4s ease, font-size 0.4s ease, transform 0.5s ease;
  filter: brightness(0.6);
}

.lyric-line:hover {
  color: var(--accent-color);
  filter: brightness(0.7);
  transform: scale(1.05);
}

.lyric-line.active {
  font-size: 1.75rem;
  font-weight: bold;
  filter: brightness(1);
  transform: scale(1.05);
  text-shadow: 0 0 19px var(--shadowcolor);
}

/* ==========================================
   5. CONTROLES INTERACTIVOS
   ========================================== */
input[type="range"] {
  width: 100%;
  cursor: pointer;
  accent-color: var(--accent-color);
}
